.features-container {
    margin-top: -250px;
    height: 500px
}
.features-title {
    padding-top: 270px;
    text-align: center;
    font-size: 26px;
    color: #ffffff;
    font-weight: bold;
    font-family: raleway;
}